@model IEnumerable<Assignment2.Models.User>

@{
    ViewBag.Title = "ConfirmationPage";
}

<h2>Confirmation Page</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>


        <h2>@ViewBag.Message</h2> 
    </tr>


    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>


                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }

</table>
<div class="col-md-offset-2 col-md-10">
    <button>@Html.ActionLink("Login", "Login", "Account")</button>
</div>
