@model TeamNullGame.ViewModels.CreateAccount
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <style type="text/css">
        body {
            /*background-color: lightslategray;*/
            background-image: url('../../Images/chalkboard.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        

        .svgdisp {
            display: inline-block;
            width: 200px;
            height: 200px;
        }
    </style>

   
</head>
<body>
    @{
        ViewBag.Title = "Pet Pal's Game";
    }

    <h2>Create an Account</h2>

    @using (Html.BeginForm())
        {
        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.Editor("FirstName")
        </div>
        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.Editor("LastName")
        </div>      
        
        
                
                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.Editor("Password")
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>

                <div>
                    @Html.ActionLink("Return to Login", "Login")
                </div>
            <div class="svgdisp">@Html.Raw(File.ReadAllText(Server.MapPath("~/Images/cat.svg")))</div>
            
            
                <div class="svgdisp">@Html.Raw(File.ReadAllText(Server.MapPath("~/Images/giraffe-1232939.svg")))</div>
                }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>