@model TeamNullGame.ViewModels.GameViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game</title>
    <style type="text/css">
        body {
            background-color: lightslategray;
        }

        .center {
            text-align: center;
            font-size: 42px;
            color: midnightblue;
        }

        .large {
            font-size: 38px;
            color: darkblue;
        }


        .gameover {
            font: bold 42px san-serif;
            color: darkgreen;
            padding: 10px;
        }
    </style>
</head>
<body>
    @{
        ViewBag.Title = "Game";
    }

    <h1 class="center">@Session["FirstName"] Let's Play a Game! </h1>
    @{Html.BeginForm("Game", "Home", FormMethod.Post);


        @*<div>"Model Number is "@Session["Number"]</div>*@



    if (Convert.ToInt32(Session["Number"]) == 1)
    {
        for (int i = 1; i <= Convert.ToInt32(Session["Number2"]); i++)
        {
            Session["name"] = "fish pals";
            <img src="~/Images/fish.jpg" height="100" width="100" style="display: inline-block" alt="fish" />
        }

    }

    else if (Convert.ToInt32(Session["Number"]) == 2)
    {
        for (int i = 1; i <= Convert.ToInt32(Session["Number2"]); i++)
        {
            Session["name"] = "cat pals";

            <span><img src="~/Images/cat.jpg" height="100" width="100" style="display: inline-block" alt="cat" /></span>@*}*@
        }
    }
    else if (Convert.ToInt32(Session["Number"]) == 3)
    {
        for (int i = 1; i <= Convert.ToInt32(Session["Number2"]); i++)
        {
            Session["name"] = "Giraffe pals";

            <span> <img src="~/Images/giraffe.jpg" height="100" width="100" style="display: inline-block" alt="giraffe" /></span>
        }
    }
    else if (Convert.ToInt32(Session["Number"]) == 4)
    {
        for (int i = 1; i <= Convert.ToInt32(Session["Number2"]); i++)
        {
            Session["name"] = "turtle pals";

            <span> <img src="~/Images/turtle.jpg" height="100" width="100" style="display: inline-block" alt="turtle" /> </span>
        }

    }
    <div>
    </div>

    <div class="large">
        @Session["Number2"] @Session["name"]
    </div>

        <div class="large">+</div>

        @*<div>"Model Number is "@Session["Number3"]</div>*@

    if (Convert.ToInt32(Session["Number3"]) == 1)
    {
        for (int i = 1; i <= Convert.ToInt32(Session["Number4"]); i++)
        {
            Session["name"] = "dog pals"; ;
            <img src="~/Images/dog.jpg" height="100" width="100" style="display: inline-block" alt="dog" />}

    }

    else if (Convert.ToInt32(Session["Number3"]) == 2)
    {
        for (int i = 1; i <= Convert.ToInt32(Session["Number4"]); i++)
        {
            Session["name"] = "dolphin pals";
            <span><img src="~/Images/dolphin.jpg" height="100" width="100" style="display: inline-block" alt="dolphin" /></span>@*}*@
        }
    }
    else if (Convert.ToInt32(Session["Number3"]) == 3)
    {
        for (int i = 1; i <= Convert.ToInt32(Session["Number4"]); i++)
        {
            Session["name"] = "frog pals";

            <span> <img src="~/Images/frog.jpg" height="100" width="100" style="display: inline-block" alt="frog" /></span>
        }
    }
    else if (Convert.ToInt32(Session["Number3"]) == 4)
    {
        for (int i = 1; i <= Convert.ToInt32(Session["Number4"]); i++)
        {
            Session["name"] = "turtle pals";
            <span> <img src="~/Images/turtle.jpg" height="100" width="100" style="display: inline-block" alt="turtle" /> </span>
        }

    }

    <div class="large">
        @Session["Number4"]  @Session["name"]
    </div>

    <div class="large">=</div>



        <span class="large">
            @*@Html.Label("Guess", "Guess")*@
            @Html.TextBox("Guess", "", new { @class = "textbox" })
            <input type="submit" value="submit" class=" btn btn-group-lg" />
        </span>

        <div class="gameover">@ViewBag.Message</div>
            @*<div>@Session["Answer"]+Total Animal Friends</div>*@


    }
</body>
</html>





